<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.planmate.mapper.CourseSearchMapper">
    <resultMap id="CourseDto" type="com.example.planmate.dto.CourseDto">
        <result property="courseCode" column="COURSE_CODE"/>
        <result property="courseName" column="COURSE_NAME"/>
        <result property="departmentName" column="DEPARTMENT_NAME"/>
        <result property="grade" column="GRADE"/>
        <result property="credit" column="CREDIT"/>
        <result property="courseDevision" column="COURSE_DEVISION"/>
        <result property="professorName" column="PROFESSOR_NAME"/>
        <result property="courseDay" column="COURSE_DAY"/>
        <result property="totalCapacity" column="TOTAL_CAPACITY"/>
        <result property="courseStartTime" column="COURSE_START_TIME"/>
        <result property="courseEndTime" column="COURSE_END_TIME"/>
        <result property="classroom" column="CLASSROOM"/>
    </resultMap>

    <select id="CourseSearch" resultType="com.example.planmate.dto.CourseSearchDto">
        SELECT c.COURSE_CODE AS courseCode, c.COURSE_NAME AS courseName, c_s.CLASS_DEVISION AS classDevision,
               d.DEPARTMENT_NAME AS departmentName, c_p.GRADE AS grade, c.CREDIT AS credit,
               c_p.COURSE_DEVISION AS courseDevision, p.PROFESSOR_NAME AS professorName, c_s.COURSE_DAY AS courseDay,
               c_s.COURSE_START_TIME AS courseStartTime, c_s.COURSE_END_TIME AS courseEndTime, c_s.CLASSROOM AS CLASSROOM,
               c.TOTAL_CAPACITY AS TOTAL_CAPACITY
        FROM COURSE c
        JOIN COURSE_PROPERTY c_p ON c.COURSE_CODE = c_p.COURSE_CODE
        JOIN COURSE_SCHEDULE c_s ON c.COURSE_CODE = c_s.COURSE_CODE
        JOIN DEPARTMENT d ON c.DEPARTMENT_CODE = d.DEPARTMENT_CODE
        JOIN PROFESSOR p ON c.PROFESSOR_CODE = p.PROFESSOR_CODE
        WHERE
            <if test="courseDepartmentName != NULL">
                AND d.DEPARTMENT = #{departmentName}
            </if>
            <if test="grade != NULL">
                AND c_p.GRADE = #{grade}
            </if>
            <if test="day != NULL">
                AND c_s.COURSE_DAY = #{courseDay}
            </if>
            <if test="courseStartTime != NULL">
                AND c_s.COURSE_START_TIME = #{courseStartTime}
            </if>
            <if test="isCourseEngineeringCertified == 'Y'">
                AND c_p.COURSE_ENGINEERING_CERTIFIED = "Y"
            </if>
    </select>
</mapper>