<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">




<mapper namespace="com.example.SeProject.mapper.StudentScheduleMapper">
    <resultMap id="StudentScheduleDto" type="com.example.SeProject.dto.StudentScheduleDto">
        <result property="courseCode" column="COURSE_CODE"/>
        <result property="courseStartTime" column="COURSE_START_TIME"/>
        <result property="courseEndTime" column="COURSE_END_TIME"/>
        <result property="courseDay" column="COURSE_DAY"/>
    </resultMap>
    <select id="timetableSearch" resultType="StudentScheduleDto">
        SELECT c.COURSE_CODE AS courseCode, c_s.COURSE_START_TIME AS courseStartTime,
               c_s.COURSE_END_TIME AS courseEndTime, c_s.COURSE_DAY AS courseDay
        FROM STUDENT_SCHEDULE s_s
        JOIN COURSE c on s_s.COURSE_CODE = c.COURSE_CODE
        JOIN COURSE_SCHEDULE c_s on c.COURSE_CODE = c_s.COURSE_CODE
        JOIN PROCESSOR p on c.PROFESSOR_CODE = p.PROFESSOR_CODE
        WHERE s_s.STUDENT_CODE = 'studentCode'
    </select>
</mapper>