<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.SeProject.mapper.StudentMapper">
    <!-- 결과 매핑: SQL 결과의 컬럼 이름을 DTO의 필드 이름과 매핑-->
    <resultMap id="StudentSignUpDto" type="com.example.SeProject.dto.StudentSignUpDto">
        <result property="studentCode" column="STUDENT_CODE"/>
        <result property="studentName" column="STUDENT_NAME"/>
        <result property="departmentName" column="DEPARTMENT_NAME"/>
        <result property="departmentCode" column="DEPARTMENT_CODE"/>
        <result property="id" column="ID"/>
        <result property="pw" column="PASSWORD"/>
    </resultMap>

    <resultMap id="StudentLogInDto" type="com.example.SeProject.dto.StudentLogInDto">
        <result property="id" column="ID"/>
        <result property="pw" column="PASSWORD"/>
    </resultMap>

    <resultMap id="StudentDto" type="com.example.SeProject.dto.StudentDto">
        <result property="studentCode" column="STUDENT_CODE"/>
        <result property="studentName" column="STUDENT_NAME"/>
        <result property="departmentCode" column="DEPARTMENT_CODE"/>
        <result property="id" column="ID"/>
        <result property="pw" column="PASSWORD"/>
    </resultMap>

    <!--가장 큰 학번 조회-->
    <select id="getMaxStudentCode" resultType="String">
        SELECT MAX(STUDENT_CODE) FROM STUDENT
    </select>

    <!-- 회원가입 시 아이디 중복 확인 : 중복O -> 1 , 중복X - > 0-->
    <select id="checkDuplicateId" resultType="int">
        SELECT COUNT(*) FROM STUDENT WHERE ID = #{id}
    </select>

    <!-- 회원가입: Student 테이블에 데이터 삽입-->
    <insert id="insertStudent">
        INSERT INTO STUDENT (STUDENT_CODE, STUDENT_NAME, DEPARTMENT_CODE, ID, PASSWORD)
        VALUES (#{studentCode}, #{studentName}, #{departmentCode}, #{id}, #{pw})
    </insert>

    <!-- 로그인: Student 테이블에서 ID,PW가 일치하는 사둉자 조회-->
    <select id="logIn" resultMap="StudentSignUpDto">
        SELECT * FROM STUDENT WHERE ID = #{id} AND PASSWORD = #{pw}
    </select>

    <!-- 회원목록조회-->
    <select id="getAllStudents" resultMap="StudentDto">
        SELECT STUDENT_CODE, STUDENT_NAME, DEPARTMENT_CODE, ID FROM STUDENT
    </select>

    <!-- 회원 삭제 (아이디로) -->
    <delete id="deleteStudent" parameterType="String">
        DELETE FROM STUDENT WHERE ID = #{id}
    </delete>

    <select id="getStudentDepartmentCode" parameterType="String" resultType="String">
        SELECT DEPARTMENT_CODE FROM STUDENT WHERE STUDENT_CODE = #{studentCode}
    </select>
</mapper>
